<ion-header>
  <ion-toolbar color="primary">
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item class="contactText" lines="none">
  <ion-textarea>
    Retrouver les informations du programme Workspace 2020 BDDF sur Echonet :
    <br>
    <br>
    <a class="lien" href="#" target="_self"
      onclick="window.open('http://b2e.group.echonet/pid112052-lid1/Workspace-2020.html', '_system', 'location=yes'); return false;">
      http://b2e.group.echonet/pid112052-lid1/Workspace-2020.html </a>
    <br>
    <br>
    <ion-button color="primary"> FAQ </ion-button>
  </ion-textarea>
</ion-item>