ion-content{
    --ion-background-color:#00A951;
}

ion-toolbar{
    height: 65px;
    border-top: 8px solid #00A951;
}

ion-card{
margin-top: 5%;
background-color:#00BC8C;
border-radius : 0px;
text-align: center;
color: white;
}

#dateMaj{
    font-size: 11px;
    font-weight: bold;
}

#textMaj{
    font-size: 12px;
}



.list-md .list-ios{
// padding: 0% !important;
color: azure;
}

ion-icon {
    color: #00A951;
  }


  
//   ion-item{
//       color: white;
//       font-weight: bold;
//   }

  #labels{
    color: white;
    font-weight: bold;
    //text-align: center;
    font-size: 17px;
  }

  @media(min-width: 750px){
    #labels{
        color: white;
        font-weight: bold;
        //margin-left: 40%;
        text-align: center;
        font-size: 17px;
      } 
  }

